.card {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    word-wrap: break-word;
    justify-content: space-between;
    padding: 8px 8px 8px 12px;
    margin-bottom: 8px;
    background: #fff;
    box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 3px;
    cursor: pointer;
}

.card:last-child {
    margin-bottom: 0;
}

.card img {
    transform: scale(0.5);
}
