
body {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: auto;
  background: url("./assets/background.png")  no-repeat center / cover;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, 
body,
.App,
#root {
  height: 100%;
}




